# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Regression Model Evaluation

In [2]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('housing.csv', header=None, delimiter=r"\s+", names=column_names)

In [3]:
"""
CRIM - per capita crime rate by town
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS - proportion of non-retail business acres per town.
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
NOX - nitric oxides concentration (parts per 10 million)
RM - average number of rooms per dwelling
AGE - proportion of owner-occupied units built prior to 1940
DIS - weighted distances to five Boston employment centres
RAD - index of accessibility to radial highways
TAX - full-value property-tax rate per $10,000
PTRATIO - pupil-teacher ratio by town
B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT - % lower status of the population
MEDV - Median value of owner-occupied homes in $1000's"""

"\nCRIM - per capita crime rate by town\nZN - proportion of residential land zoned for lots over 25,000 sq.ft.\nINDUS - proportion of non-retail business acres per town.\nCHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)\nNOX - nitric oxides concentration (parts per 10 million)\nRM - average number of rooms per dwelling\nAGE - proportion of owner-occupied units built prior to 1940\nDIS - weighted distances to five Boston employment centres\nRAD - index of accessibility to radial highways\nTAX - full-value property-tax rate per $10,000\nPTRATIO - pupil-teacher ratio by town\nB - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\nLSTAT - % lower status of the population\nMEDV - Median value of owner-occupied homes in $1000's"

In [3]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [5]:
# Your code here :
from sklearn.model_selection import train_test_split

X = data.drop("MEDV", axis=1) 
y = data["MEDV"]  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (404, 13)
Shape of X_test: (102, 13)
Shape of y_train: (404,)
Shape of y_test: (102,)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [12]:
# Your code here :
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)

y_test_pred = model.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [11]:
# Your code here :
from sklearn.metrics import r2_score

r2_train = r2_score(y_train, y_train_pred)  

r2_test = r2_score(y_test, y_test_pred) 

print(f"R-squared for Training Set: {r2_train:.4f}")
print(f"R-squared for Testing Set: {r2_test:.4f}")

R-squared for Training Set: 0.7509
R-squared for Testing Set: 0.6688

## 4. Calculate and print mean squared error for both the training and the testing set.

In [ ]:
# Your code here :
from sklearn.metrics import mean_squared_error

mse_train = mean_squared_error(y_train, y_train_pred)  

mse_test = mean_squared_error(y_test, y_test_pred)  

print(f"Mean Squared Error (MSE) for Training Set: {mse_train:.4f}")
print(f"Mean Squared Error (MSE) for Testing Set: {mse_test:.4f}")

Mean Squared Error (MSE) for Training Set: 21.6414
Mean Squared Error (MSE) for Testing Set: 24.2911

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [22]:
# Your code here :
from sklearn.metrics import mean_squared_error

mse_train = mean_squared_error(y_train, y_train_pred)  

mse_test = mean_squared_error(y_test, y_test_pred)  

print(f"Mean Squared Error (MSE) for Training Set: {mse_train:.4f}")
print(f"Mean Squared Error (MSE) for Testing Set: {mse_test:.4f}")

Mean Squared Error (MSE) for Training Set: 21.6414
Mean Squared Error (MSE) for Testing Set: 24.2911

## Classification Model Evaluation

In [14]:
from sklearn.datasets import load_iris
data = load_iris()

In [15]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [16]:
column_names = data.feature_names

In [17]:
df = pd.DataFrame(data['data'],columns=column_names)

In [18]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [19]:
target = pd.DataFrame(data.target)

In [20]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [21]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [26]:
data = load_iris()

df = pd.DataFrame(data['data'], columns=data['feature_names'])
df['class'] = data['target']

X = df.drop("class", axis=1)
y = df["class"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (120, 4)
Shape of X_test: (30, 4)
Shape of y_train: (120,)
Shape of y_test: (30,)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [30]:
# Your code here :
log_reg_model = LogisticRegression(max_iter=200, random_state=42)

# Train the model on the training data
log_reg_model.fit(X_train, y_train)

# Generate predictions for both training and testing sets
y_train_pred = log_reg_model.predict(X_train)
y_test_pred = log_reg_model.predict(X_test)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [32]:
# Your code here :
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print(f"Accuracy Score (Training Set): {train_accuracy:.4f}")
print(f"Accuracy Score (Testing Set): {test_accuracy:.4f}")

Accuracy Score (Training Set): 0.9750
Accuracy Score (Testing Set): 1.0000

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [34]:
# Your code here :
train_balanced_accuracy = balanced_accuracy_score(y_train, y_train_pred)
test_balanced_accuracy = balanced_accuracy_score(y_test, y_test_pred)
print(f"Balanced Accuracy Score (Training Set): {train_balanced_accuracy:.4f}")
print(f"Balanced Accuracy Score (Testing Set): {test_balanced_accuracy:.4f}")

Balanced Accuracy Score (Training Set): 0.9756
Balanced Accuracy Score (Testing Set): 1.0000

## 10. Calculate and print the precision score for both the training and the testing set.

In [36]:
# Your code here :
train_precision = precision_score(y_train, y_train_pred, average='weighted')
test_precision = precision_score(y_test, y_test_pred, average='weighted')
print(f"Precision Score (Training Set): {train_precision:.4f}")
print(f"Precision Score (Testing Set): {test_precision:.4f}")

Precision Score (Training Set): 0.9768
Precision Score (Testing Set): 1.0000

## 11. Calculate and print the recall score for both the training and the testing set.

In [37]:
# Your code here :
train_recall = recall_score(y_train, y_train_pred, average='weighted')
test_recall = recall_score(y_test, y_test_pred, average='weighted')
print(f"Recall Score (Training Set): {train_recall:.4f}")
print(f"Recall Score (Testing Set): {test_recall:.4f}")

Recall Score (Training Set): 0.9750
Recall Score (Testing Set): 1.0000

## 12. Calculate and print the F1 score for both the training and the testing set.

In [38]:
# Your code here :
train_f1 = f1_score(y_train, y_train_pred, average='weighted')
test_f1 = f1_score(y_test, y_test_pred, average='weighted')
print(f"F1 Score (Training Set): {train_f1:.4f}")
print(f"F1 Score (Testing Set): {test_f1:.4f}")

F1 Score (Training Set): 0.9750
F1 Score (Testing Set): 1.0000

## 13. Generate confusion matrices for both the training and the testing set.

In [39]:
# Your code here :
train_conf_matrix = confusion_matrix(y_train, y_train_pred)
test_conf_matrix = confusion_matrix(y_test, y_test_pred)

print("Confusion Matrix (Training Set):")
print(train_conf_matrix)

print("Confusion Matrix (Testing Set):")
print(test_conf_matrix)

Confusion Matrix (Training Set):
[[40  0  0]
 [ 0 38  3]
 [ 0  0 39]]
Confusion Matrix (Testing Set):
[[10  0  0]
 [ 0  9  0]
 [ 0  0 11]]

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [40]:
# Have fun here !
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize regression models
models = {
    "Random Forest": RandomForestRegressor(random_state=42),
    "Gradient Boosting": GradientBoostingRegressor(random_state=42),
    "Support Vector Regressor": SVR(),
    "K-Nearest Neighbors": KNeighborsRegressor()
}

# Train and evaluate each model
for name, model in models.items():
    print(f"\nModel: {name}")
    # Train the model
    model.fit(X_train, y_train)
    
    # Generate predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate the model
    print(f"Training MSE: {mean_squared_error(y_train, y_train_pred):.4f}")
    print(f"Testing MSE: {mean_squared_error(y_test, y_test_pred):.4f}")
    print(f"Training RÂ²: {r2_score(y_train, y_train_pred):.4f}")
    print(f"Testing RÂ²: {r2_score(y_test, y_test_pred):.4f}")

Model: Random Forest
Training MSE: 0.0062
Testing MSE: 0.0014
Training RÂ²: 0.9905
Testing RÂ²: 0.9980

Model: Gradient Boosting
Training MSE: 0.0005
Testing MSE: 0.0043
Training RÂ²: 0.9992
Testing RÂ²: 0.9938

Model: Support Vector Regressor
Training MSE: 0.0344
Testing MSE: 0.0402
Training RÂ²: 0.9478
Testing RÂ²: 0.9424

Model: K-Nearest Neighbors
Training MSE: 0.0240
Testing MSE: 0.0080
Training RÂ²: 0.9635
Testing RÂ²: 0.9886